.card_button{
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.10);
    padding: 20px;
    color: #fff;
    border: none;
    display: block;
    text-align: start;
    width: 100%;
}

.card_button:hover{
    background: rgba(255, 255, 255, 0.03);
}